@keyframes smoothAppear {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.home-wrapper {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Pretendard-Regular", "S-CoreDream-3Light", -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  .img-slide {
    opacity: 0;
    animation: smoothAppear 1.5s forwards;
    animation-delay: 1.5s;
  }
  .home-title {
    opacity: 0;
    animation: smoothAppear 1s forwards;
    animation-delay: 2.5s;
    margin: 15px 0;
    font-size: 2.4rem;
    font-weight: bold;
    color: midnightblue;
    span {
      font-size: 2.7rem;
    }
  }
  .home-contents {
    opacity: 0;
    animation: smoothAppear 1s forwards;
    animation-delay: 3s;
    margin: 15px 0;
    font-size: 1.5rem;
    color: #282c34;
  }
  .about-project {
    opacity: 0;
    animation: smoothAppear 1s forwards;
    animation-delay: 3.5s;
    margin: 15px 0;
    font-size: 1.5rem;
    color: #282c34;
  }
  .my-website {
    opacity: 0;
    animation: smoothAppear 1s forwards;
    animation-delay: 4s;
    margin: 15px 0;
    .my-website-title {
      margin-bottom: 5px;
      font-size: 1.8rem;
      font-weight: bold;
      color: midnightblue;
    }
    a {
      font-size: 1.5rem;
      margin: 0 10px;
    }
  }
}

/*login*/
.bg-gradient-primary {
  background-color: #4e73df;
  background-image: linear-gradient(180deg, #4e73df 10%, #224abe 100%);
  background-size: cover;
  .bg-login-image {
    background: url(https://source.unsplash.com/K4mSJ7kc0As/600x800);
    background-position: center;
    background-size: cover;
  }
  .bg-password-image {
    background: url(https://source.unsplash.com/oWTW-jNGl9I/600x800);
    background-position: center;
    background-size: cover;
  }
  .bg-register-image {
    background: url(https://source.unsplash.com/Mv9hjnEUHR4/600x800);
    background-position: center;
    background-size: cover;
  }
}

form {
  .btn-block {
    display: block;
    width: 100%;
  }
  .btn-google {
    color: #fff;
    background-color: #ea4335;
    border-color: #fff;
    opacity: 0.9;
    transition: all 1s ease-in-out;
  }
  .btn-google:hover {
    color: #fff;
    background-color: #ea4335;
    border-color: #fff;
    opacity: 1;
  }
  .btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: #fff;
    opacity: 0.9;
    transition: all 1s ease-in-out;
  }
  .btn-facebook:hover {
    color: #fff;
    background-color: #3b5998;
    border-color: #fff;
    opacity: 1;
  }
  .user {
    .btn-user {
      font-size: 0.8rem;
      border-radius: 10rem;
      padding: 0.75rem 1rem;
    }
    .small {
      font-size: 80%;
      font-weight: 400;
    }
  }
}
.text-gray-800 {
  color: #5a5c69 !important;
}
.text-gray-400 {
  color: #858796;
  font-weight: 400;
  line-height: 1.5;
  font-size: 1rem;
}
/*업로더*/
.uploader-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
  .img-wrapper {
    img {
      width: 270px;
      height: 270px;
      object-fit: cover;
    }
  }
  .upload-button {
    button {
      margin: 10px 5px;
      font-size: 1.1rem;
    }
  }
}
.textArea-wrapper {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  .title {
    margin-bottom: 0.7rem;
  }
  .text {
    width: 270px;
    height: 270px;
  }
  input,
  textarea {
    &::-webkit-scrollbar {
      display: mone;
    }
    resize: none;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    transition: border 1s;
    &:focus {
      outline: none;
      border: 3px solid skyblue;
    }
  }
}
